<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery</title>
</head>

<body>
    <h1>Delivery details</h1>
    <form action="#" method="post" data-th-action="@{/pizza/order}" data-th-object="${delivery}">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" size="30" name="name" id="name" data-th-field="*{name}" />
                    <div data-th-if="#{fields.hasErrors('name')}">
                        <span data-th-errors="*{name}" data-th-errorclass="error"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <input type="text" size="30" name="address" id="address" data-th-field="*{address}" />
                    <div data-th-if="#{fields.hasErrors('address')}">
                        <span data-th-errors="*{address}" data-th-errorclass="error"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    <input type="tel" size="30" name="phoneNum" id="phoneNum" data-th-field="*{phoneNum}" />
                    <div data-th-if="#{fields.hasErrors('phoneNum')}">
                        <span data-th-errors="*{phoneNum}" data-th-errorclass="error"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Rush Order?
                </td>
                <td>
                    <input type="checkbox" name="isRush" data-th-field="*{isRush}" />
                    <div data-th-if="#{fields.hasErrors('isRush')}">
                        <span data-th-errors="*{isRush}" data-th-errorclass="error"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Comments:
                </td>
                <td>
                    <textarea data-th-field="*{comments}" cols="30" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <button type="submit" formmethod="get" formaction="/">Cancel Order</button>
                <button type="submit">Place Order</button>
            </tr>
        </table>
    </form>
</body>

</html>